.img-logo{
	height: 40px;
	width: 130px;
	display: block;
	background: url('logo1.svg') no-repeat;
	background-size: contain;
	color: transparent;
}

body{
	margin: 0px;
	margin-left: 10%;
	margin-right: 10%;
}

html{
	font-family: 'Roboto', sans-serif;
}